<div class="page-header">
  <!--<h3>Reminder #<%= @reminder.id %></h3>-->
  <h2>Great job!</h2>
  <h2>Your overall goal is to <strong><%= @reminder.goal.name %></strong></h2>
  <h2>Today, you'll focus on <strong><%= @reminder.focus %></strong></h2>
  <h2>Don't forget to visualize or prime yourself to be <strong><%= @reminder.mindset %></strong></h2>
</div>



    <div class="btn-group btn-group-justified">
      <a href="/reminders" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @reminder.user %>
        <a href="/reminders/<%= @reminder.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_reminder/<%= @reminder.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
