<!-- Validation failure messages -->
<% if @goal.errors.any? %>
  <% @goal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h2>Start simple...what's one of your <strong>HIGHEST LEVEL GOALS</strong> for this intent-ship or the summer overall?</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_goal" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Give your goal a catchy name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @goal.name %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Now give it a punchy description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @goal.description %>">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Goal
      </button>
      or
      <a href="/goals">Cancel</a>
    </form>
  </div>
</div>
