<div class="page-header">
  <h3>Goal #<%= @goal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @goal.name %></dd>

      <dt>Description</dt>
      <dd><%= @goal.description %></dd>

      <dt>User</dt>
      <dd>
        <% if @goal.user.present? %>
          <a href="/users/<%= @goal.user_id %>">
            <%= @goal.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/goals" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @goal.user %>
        <a href="/goals/<%= @goal.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_goal/<%= @goal.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Goal has many reminders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reminders
      </li>

      <% @goal.reminders.each do |reminder| %>
        <li class="list-group-item">
          <a href="/reminders/<%= reminder.id %>">
            <%= reminder.focus %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reminders/<%= reminder.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reminders/<%= reminder.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reminder/<%= reminder.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_reminder" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for focus -->
      <div class="form-group">
        <label for="focus" class="control-label">
          Focus
        </label>

        <input type="text" id="focus" name="focus" placeholder="Focus" class="form-control" value="">
      </div>

      <!-- Label and input for mindset -->
      <div class="form-group">
        <label for="mindset" class="control-label">
          Mindset
        </label>

        <input type="text" id="mindset" name="mindset" placeholder="Mindset" class="form-control" value="">
      </div>

      <!-- Label and input for example -->
      <div class="form-group">
        <label for="example" class="control-label">
          Example
        </label>

        <input type="text" id="example" name="example" placeholder="Example" class="form-control" value="">
      </div>

      <!-- Label and input for goal_id -->
      <input type="hidden" name="goal_id" value="<%= @goal.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Reminder
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
